.welcome-container {
  text-align: center;
  margin-top: 0;
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; /* Replace with your desired background color */
}

.store-name {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.light-text {
  color: #888;
}

.description {
  font-size: 18px;
  color: #555;
  margin: 20px auto;
  max-width: 600px;
}

.start-shopping-button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-shopping-button:hover {
  background-color: #e63946;
}